html, body {
    height: 100%;
    background-color: #333;
}
  
body {
    font-family: 'OPen Sans', sans-serif;
    font-size: 1.09rem;
    overflow-x: hidden;
    margin: 0 auto;
    max-width: 100%;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: auto;
    margin: 0 auto;
    align-items: center;
}

#navbar {
    position: relative;
    background-color: #fff;
    z-index: 2;
    align-items: center;
}

#navigation {
    display: flex;
    justify-content: space-between;
}

#main-nav {
    display: flex;
    list-style: none;
}

#main-nav li a {
    color: #333;
    text-decoration: none;
    padding: 33px 1.5em;
    display: inline-block;
}

#navigation a img {
    display: inline-block;
    padding: 16px 1em;
    width: 300px;
}

#main-nav li a:hover {
    background-color: #333;
    color: #fff;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    border: none;
    cursor: pointer;
    background-color: #fff;
    padding: 20px;
}

.menu-toggle .bar {
    width: 60px;
    height: 7px;
    background-color: #333;
    margin: 5px 0;
    border-radius: 10px;
}

.menu-toggle:hover{
    background-color: #333;
    transition-delay: 0.1s;
}

.menu-toggle:hover .bar {
    background-color: #fff;
    transition-delay: 0.1s;
}


main {
    color: #fff;
}


@media screen and (max-width: 1328px) {

    #main-nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 91px;
        left: 5%;
        width: auto;
        background-color: #fff;
    }

    #main-nav li a {
        padding: 12px 1.5em;
        width: 100%;
    }


    #main-nav.active {
        display: flex;
    }
    
    .menu-toggle {
        display: flex;
    }

    #navbar {
        background-color: #fff;
        min-width: 420px;
    }
    
}

@media screen and (max-width: 500px) {
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

